{% extends 'base.html' %}
{% block content %}

{% load staticfiles %}

<div class="container text-center">
<h2>Log in!</h2>
<h6>Type correct username and password. <br /> If you are not registered, please register. <img src="{% static 'compass.png' %}" height="15" width="15" /></h6>

    {% if error %}
        <br /><h6 class="text-danger">{{ error }}</h6>

    {% endif %}<br />
    <div class="row justify-content-center">
    <form method="POST" action="{% url 'login' %}" class="form-singin">

    {% csrf_token %}
        <div class="form-label-group row">
            <input type="text" name="username" class="form-control" placeholder="username" aria-label="Username" required autofocus>
        </div>
        <br/>
        <div class="form-label-group row">
        <input type="password" name="password" class="form-control" placeholder="password" aria-label="Password" required>
    </div>

    <br />
    <input class="btn btn-sm-3 btn-success" type="submit" value="Login!" />
    </form>

    </div><br /> <br />
</div>

{% endblock %}
