{% extends 'base.html' %}
{% block content %}




<h1>Log in!</h1>
    {% if error %}
        <br /><h6 class="text-danger">{{ error }}</h6>

    {% endif %}<br />
    <form method="POST" action="{% url 'login' %}" class="form-singin">

    {% csrf_token %}
        <div class="form-label-group row col-sm-3">
            <input type="text" name="username" class="form-control" placeholder="username" aria-label="Username" required autofocus>
        </div>
        <br/>
        <div class="form-label-group row col-sm-3">
        <input type="password" name="password" class="form-control" placeholder="password" aria-label="Password" required>
    </div>

    <br />
    <input class="btn btn-primary btn-sm-3" type="submit" value="Login!" />
    </form>

{% endblock %}
