{% extends 'base.html' %}
{% block content %}

<h1>Sign up!!</h1>
    {% if error %}
        <br /><h6 class="text-danger">{{ error }}</h6>

    {% endif %}<br />
    <form method="POST" action="{% url 'signup' %}" class="form-singin justify-content-center">
    {% csrf_token %}
    <div class="form-label-group row col-sm-3">
        <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" required autofocus>
    </div>
        <br/>
    <div class="form-label-group row col-sm-3 text-center">
        <input type="password" name="password1" class="form-control" placeholder="Password" aria-label="Password" required>
    </div>
        <br/>
    <div class="form-label-group row col-sm-3">
        <input type="password" name="password2" class="form-control" placeholder="Confirm password" aria-label="Password" required>
    </div>
        <br/>

    <input class="btn btn-primary btn-sm-3" type="submit" value="Sign up!" />


    </form>


{% endblock %}
