{% extends 'base.html' %}
{% block content %}

{% if error %}
   {{ error }}
    <br />
    <br />
{% endif %}

<h1>Create!</h1><br />
    <div class="row justify-content-center">
    <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data" class="form-signin">
    {% csrf_token %}
    <div class="form-label-group row">
        <input type="text" name="title" class="form-control" placeholder="Title" required autofocus /><br />
    </div><br />
    <div class="form-label-group row">
        <input type="text" name="body" class="form-control" placeholder="Text" required /><br />
    </div><br />
    <div class="form-label-group row">
        <input type="text" name="url" class="form-control" placeholder="URL" required /><br />
    </div><br />
    <div class="form-label-group row">
        <input type="file" name="icon" class="form-control" placeholder="Icon" required /><br />
    </div><br />
    <div class="form-label-group row">
        <input type="file" name="image" class="form-control" placeholder="Image" required /><br />
    </div>
    <br />
    <input class="btn btn-success" type="submit" value="Add product" />
    </form>
</div>
{% endblock %}
