{% extends 'base.html' %}
{% block content %}


<h2>Products list: {{ product_list }}</h2>
<a href="{% url 'home' %}">[ All ]</a>
<a href="{% url 'home' %}?cat=Entertainment">[ Entertainment ]</a>
<a href="{% url 'home' %}?cat=Work">[ Work ]</a>
<a href="{% url 'home' %}?cat=Home">[ Home ]</a>
<a href="{% url 'home' %}?cat=Rest">[ Rest ]</a>


    <hr>
{% for product in products.all %}
    <div class="row pt-3">
    <div class="col-2" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer">
        <img src="{{ product.icon.url }}" class="image-fluid img-thumbnail"/>
    </div>
    <div class="col-6" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer">
        <h2>{{ product.title }}</h2>
        <p>{{ product.summary }}</p>
        <p>Category : <a href={% url 'home' %}?cat={{ product.category }}>[ {{ product.category }} ]</a></p>

    </div>
    <div class="col-4 text-right">
        <p style="font-size: 22px; color: grey;">Total votes: <br /> {{ product.votes_total }}</p><br />
        <p style="font-size: 12px; color: lightgrey;">Last updated: {{ product.pub_date }}</p>
{#        <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}"><button class="btn btn-primary btn-sm-3"><span class="oi oi-caret-top"></span> Upvote ({{ product.votes_total }})</button></a>#}
    </div>
    </div>
    <hr>



<form id="upvote{{ product.id }}" method="POST" action="{% url 'upvote' product.id %}">
{% csrf_token %}
<input type="hidden">
</form>
{% endfor %}


{% endblock %}